[Unit]
Description=universal reverse proxy server
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/proxy-server --systemd --config /etc/proxy-ports/server.json

[Install]
WantedBy=multi-user.target
